.navbar{
    display: flex;
    /* gap: 20px; */
    
    background-color: #E8F4F8;
    justify-content: center;
}
body{
    margin:0;
}

#menu{
    display: flex;
    flex: 1;
    justify-content: center;
    /* gap: 20px; */
    
}
#menu a {
    text-decoration: none;
    font-size: 50px;
    /* border: 2px solid red; */
    background-color: brown;
    padding: 20px 20px 20px 20px;
    
}
#menu > :nth-child(1),#menu>:nth-child(2),#menu>:nth-child(3){
border-right: 2px solid red;

}
